
.wrapper{
    padding: 0;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    /* transform: rotate(180deg); */
}
.pacman{
    height: 160px;
    width: 160px;
    position: relative;
    /* border-width: 160px;
    border-style: solid;
    border-color: yellow transparent yellow yellow;
    border-radius: 50%; */
}
@keyframes a1 {
    0%{
        transform: rotate(270deg);
    }
    50%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(270deg);
    }
}
@keyframes a2 {
    0%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(90deg);
    }
}
.pacman:before, .pacman:after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 80px solid yellow;
    border-right: 80px solid transparent;
    border-radius: 50%;
}
.pacman:before{
    animation: a1 linear 0.5s infinite;
}
.pacman:after{
    animation: a2 linear 0.5s infinite;
}
@keyframes ball {
    20%, 80%{
        opacity: 1;
    }
    100%{
        transform: translate(-120px, -50%);
    }
}
.ball{
    background-color: yellow;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -100px;
    opacity: 0;
}
.ball1{
    animation: ball 1s 1s infinite linear;
}
.ball2{
    animation: ball 1s 0.5s infinite linear;
}
.ball3{
    animation: ball 1s 0s infinite linear;
}
